<section id="HOME" class="header">
  <div class="image"></div>
  <div class="profile">
    <h2 class="profile-medium">I'M</h2>
    <h1 class="profile-info">PRAKHAR SAHU</h1>
    <h1 class="profile-small">Competetive Code | Developer</h1>
    <div class="socials">
      <button class="social-button">
        <a href="https://instagram.com/prakhar_5447">
          <img src="/assets/images/home/instagram.svg" alt="instagram" />
        </a>
      </button>
      <button class="social-button">
        <a href="https://twitter.com/prakhar_5447">
          <img src="/assets/images/home/twitter.svg" alt="twitter" />
        </a>
      </button>
      <button class="social-button">
        <a href="linkedin.com/in/prakhar-sahu-4519b8206/">
          <img src="/assets/images/home/linkedin.svg" alt="linkedin" />
        </a>
      </button>
      <button class="social-button">
        <a href="https://github.com/prakhar-5447">
          <img src="/assets/images/home/github.svg" alt="github" />
        </a>
      </button>
    </div>
  </div>
</section>
