<button
  class="button"
  id="nav-button"
  mat-icon-button
  color="accent"
  aria-label="Example icon button with a menu icon"
  (click)="nav_toggle()"
>
  <mat-icon id="icon">menu</mat-icon>
</button>

<div class="navigation">
  <nav class="nav" id="nav">
    <ul class="nav-items">
      <li (click)="active_toogle('HOME')" class="HOME nav-item active">HOME</li>
      <li (click)="active_toogle('ABOUT')" class="ABOUT nav-item">ABOUT</li>
      <li (click)="active_toogle('PROJECTS')" class="PROJECTS nav-item">
        PROJECTS
      </li>
      <li (click)="active_toogle('SERVICES')" class="SERVICES nav-item">
        SERVICES
      </li>
      <li (click)="active_toogle('CONTACT')" class="CONTACT nav-item">
        CONTACT
      </li>
    </ul>
  </nav>
</div>

<app-home></app-home>

<app-about></app-about>

<!-- <app-projects></app-projects>
<app-services></app-services>
<app-contact></app-contact> -->
